*.csv filter=lfs diff=lfs merge=lfs -text
/CLEAN_C6EnPLS_dataset/sensors_data/20231130_measures.csv filter=lfs diff=lfs merge=lfs -text
/CLEAN_C6EnPLS_dataset/sensors_measures.csv filter=lfs diff=lfs merge=lfs -text
/RAW_C6EnPLS_dataset/C6EnPLS[[:space:]]-[[:space:]]cnd[[:space:]]1/energy_data_1/20231130_measures.csv filter=lfs diff=lfs merge=lfs -text
